/* TODO - Why does all paragraphs and h3 gain padding? */
.productCard {
  max-width: 40rem;
  padding: 1.5rem, 1.5rem;
  margin: 1.5rem;
  overflow: hidden;

  box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.821);
}

/* Product Image */
.productCard > img {
  width: 100%;
  height: min(50vw, 350px);
  object-fit: contain;
}

.productCard > img:hover {
  transform: scale(1.05);
  transition: ease-in, 500ms;
}

.productCardSection {
  padding: 1.5rem;
}

.productCard > section > h3 {
  font-size: min(8vw, 40px);
}

.productContainer {
}
